<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p><a href="/">Back home</a></p>
            <h1>Caption</h1>
            <p>{{ caption }}</p>
        </div>
        <div class="col-12">
            <a href="settings.json">Settings</a>
            <a href="canvas.json">Canvas</a>
        </div>
        <div class="col-6">
            <img class="img-fluid" src="{{ name }}.jpg" alt="{{ name }}" />
        </div>
        <div class="col-6">
            <img class="img-fluid" src="{{ name }}_depth.jpg" alt="{{ name }}" />
        </div>
    </div>
</div>