<div class="container">
    <div class="row">
        <div class="col-12">
            <a href="/image">New Image</a>
        </div>
        <div class="col-6">
            Details
        </div>
        <div class="col-2 text-center">
            en
        </div>
        <div class="col-2 text-center">
            fr
        </div>
        <div class="col-2 text-center">
            es
        </div>
        {{#each images }}
        <div class="col-6">
            <a href="/image?id={{ info.id }}">{{ info.date }} {{ info.title }}</a>
        </div>
        <div class="col-2 text-center">
            {{#if en.0.name }}
            <a href="/image?id={{ en.0.name }}">Latest</a>
            {{/if}}
        </div>
        <div class="col-2 text-center">
            {{#if fr.0.name }}
            <a href="/image?id={{ fr.0.name }}">Latest</a>
            {{/if }}
        </div>
        <div class="col-2 text-center">
            {{#if es.0.name }}
            <a href="/image?id={{ es.0.name }}">Latest</a>
            {{/if }}
        </div>
        {{/each}}
    </div>
</div>